<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl0TlozDNRacBsNCtbOzt_Y504KwM92lA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054553494737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.santaApp2024</string>
	<key>PROJECT_ID</key>
	<string>santa-app-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>santa-app-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054553494737:ios:b4565d80e5dec767cfa1f0</string>
</dict>
</plist>